@import "../../default.scss";

.btn {
  position: fixed;
  bottom: 0px;
  right: 10px;
  height: 46px;
  width: 40px;
  font-size: 40px;
  background-color: #1976d2;
  color: white;
  border: white;
 }

 
 
 .btn:hover {
    background-color: #ddd;
    color: black;
  }
 