@import "../../default.scss";

.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 800px;
  }
  
  .each-slide-effect span {
    padding: 0px;
    font-size: 0px;
    background: #efefef;
    text-align: center;
  }
  .slideshow-container {
    max-width: 100%;
    position: relative;
    padding-bottom: 80px;
    
   

  }