@import "../../default.scss";
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Style the header */
.header {
  padding: 30px;
  text-align: center;
  background: $primary;
  color: $white;
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 40px;
}

