@import "../../default.scss";
  
@mixin home-text {
    position: absolute;
    text-align: center;
    padding-left: 34%;
    margin: 0;
    color: $primary;
}



.home-header {
    @include home-text();
    font-size: 40px;
}